{% load static %}
<img src = "{% static '/images/banner-host.png' %}" width="500" class="d-inline-block align-top">
<br>
<html>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://www.jquery-az.com/jquery/css/jquery.multiselect.css" rel="stylesheet" type="text/css">
  <script src="https://www.jquery-az.com/jquery/js/multiselect-checkbox/jquery.multiselect.js"></script>
</head> 
Host Console2
<br>
<div id="logDisplay" style="overflow:scroll; width:800px; height:300px; font-style: italic; color: green;">
</div>

<br>
<div>
	<br><button id="updateLog">Update Logs</button><!--XY-->

	<br>
	<div id="GAME_NOT_CREATED">
			<br>Your Name: <input type="text" id="hostName" size="30" value="XY">
			<br>Game Name: <input type="text" id="gameName" size="30" value="Game 1">
			<br>Number of Players: <input type="number" id="numberOfPlayers" size="2" value="6">
			<br><button id="createGame">Create Game</button>		
	</div>
	<div id="GAME_CREATED">
		<br>Number of Players : <span id="showNumberOfPlayers"></span>
		<br>Please select roles to be included (<span id="showNumberOfRolesSelected"></span> roles selected)
		<select id="rolesSelected" multiple="multiple" class="4colactive">
        <option value="PEASANT1">平民</option>	
        <option value="PEASANT2" selected="selected">平民</option>	
        <option value="PEASANT3" selected="selected">平民</option>	
        <option value="PEASANT4">平民</option>	
        <option value="SEER1" selected="selected">预言家</option>	
        <option value="WITCH1" selected="selected">女巫</option>	
        <option value="HUNTER1">猎人</option>	
        <option value="KNIGHT1">骑士</option>	
        <option value="WOLF1">狼人</option>	
        <option value="WOLF2">狼人</option>	
        <option value="WOLF3" selected="selected">狼人</option>	
        <option value="WOLF_KING1" selected="selected">狼王</option>	
        <option value="WOLF_KING2">狼王</option>	
        <option value="SNOW_WOLF1">雪狼</option>
    </select>

			<br><button id="openGame">Open Game</button>		
	</div>
<!--XY-->
	<div id="GAME_INITIATED">When everyone joined, click to start game
			<br><button id="startGame">Start Game</button>		
	</div>
	<div id="WOLF_PHASE_BEGIN">
			<br>Wolf Kill Who: <input type="number" id="wolfVictim" size="2">
			<br><button id="wolfKill">Wolf Kill #</button>		
	</div>
	<div id="WITCH_PHASE_BEGIN">
			<div id="wolfVictimAnnouncement"></div>
			<br>Save? <input type="radio" id="witchSave" name="witchSave" value="No" checked="checked" />No <input type="radio" id="witchSave" name="witchSave" value="Yes">Yes 
			<br>Witch Poison? <input type="number" id="witchPoison" size="2">
			<br><button id="witchActions">Submit Witch Actions</button>		
	</div>
	<div id="SEER_PHASE_BEGIN">
			<br>Seer Check Who: <input type="number" id="seerCheckWho" size="2">
			<br><button id="seerCheck">Check</button>		
	</div>
	<div id="DAY_BEGIN">
			DAY LIGHT - Announcement: 
			<div id="dayAnnouncement"></div>
			<br><button id="seerCheck">Check</button>		
	</div>



	<br><div id="systemMessage" style="font-style: italic; color: red;"></div>
</div>

<script>
var latest = 0;
refreshActionDisplay("GAME_NOT_CREATED");


function appendEventLog(divID, newEventID, newEventDescription, newEventTimestamp) {
	var div1 = document.getElementById(divID);
	div1.innerHTML = div1.innerHTML + "<br>" +
										"<span style='color: blue'>" + (newEventID+1) + ". &nbsp;&nbsp;</span>" + 
										"<span style='color: green'>" + newEventDescription + "&nbsp;&nbsp;</span>" +
										"<span style='color: red'>[" + newEventTimestamp + "]</span>";
	div1.scrollTop = div1.scrollHeight;	//scrolls to the bottom so that latest events are displayed
}

$("#updateLog").click(function() { refresh(); }); 

function refresh() {
  $.get("./getHostEventLogs?latest="+latest, function(data, status){
  	logs = JSON.parse(data);
  	latest += logs.length;
  	for (const log of logs)
	  	appendEventLog("logDisplay", log.id, log.description, log.timestamp);
  });
}

$("#createGame").click(function() { createGame(); }); 

function createGame() {
  $.get("./sendAction?latest="+latest+"&action=createGame&p1="+$("#hostName").val().trim()+"&p2="+$("#gameName").val().trim()+"&p3="+$("#numberOfPlayers").val().trim(), function(data, status){
  	actionResponse = JSON.parse(data);
  	$("#systemMessage").html(actionResponse.systemMessage);
    $("#showNumberOfPlayers").html(actionResponse.numberOfPlayers);
    $("#showNumberOfRolesSelected").html($("#rolesSelected").val().length);

    refreshActionDisplay(actionResponse.gameState);
    refresh();

  });
}

$("#openGame").click(function() { openGame(); }); 

function openGame() {

	var requestJson = { 'action': 'openGame',
											'rolesSelected': $("#rolesSelected").val(),
											'latest': latest
										};
	$.ajax({
		url: './sendAction',
		type: 'POST',
		contentType: 'application/json; charset=utf-8',
		data: JSON.stringify(requestJson),
		dataType: 'text',
		success: function(data, status) {
//			alert(data);
			actionResponse = JSON.parse(data);
	  	$("#systemMessage").html(actionResponse.systemMessage);
  	    $("#showNumberOfPlayers").html(actionResponse.numberOfPlayers);
		refreshActionDisplay(actionResponse.gameState);
	    refresh();
		}
	});

}

function refreshActionDisplay(gameState,dayAnnouncement) {
	var actionCards = [ "GAME_NOT_CREATED", "GAME_CREATED","WOLF_PHASE_BEGIN","GAME_INITIATED","WITCH_PHASE_BEGIN","SEER_PHASE_BEGIN","DAY_BEGIN"]; //XY

	for (const card of actionCards) {
			if (gameState==card) {
				$("#"+card).show();
			} else {
				$("#"+card).hide();				
			}
	}

    $("#dayAnnouncement").html(dayAnnouncement + " is dead");

}

$('select[multiple]').multiselect({
    columns: 4,
    placeholder: 'Select options'
});


$("#rolesSelected").change(function() {
    var selectedValues = $("#rolesSelected").val();
    $("#showNumberOfRolesSelected").html(selectedValues.length);
    //alert(selectedValues);
});

<!-- xy -->
function gameActions(action,p1,p2,p3) {
  $.get("./sendAction?latest="+latest+"&action="+action+"&p1="+p1+"&p2="+p2+"&p3="+p3, function(data, status){
  	//alert("["+data+"]");
  	actionResponse = JSON.parse(data);
  	$("#systemMessage").html(actionResponse.systemMessage);
	  $("#showNumberOfPlayers").html(actionResponse.numberOfPlayers);
	  refreshActionDisplay(actionResponse.gameState,actionResponse.dayAnnouncementPreparation);
	    refresh();
  });
}

$("#startGame").click(function() { gameActions("startGame","","",""); }); 
$("#wolfKill").click(function() { gameActions("wolfKill",$("#wolfVictim").val().trim(),"",""); 	wolfVictimAnnouncement.innerHTML = "Wolf Victim is #" + $("#wolfVictim").val().trim();
}); 
$("#witchActions").click(function() { gameActions("witchActions",$('input[name=witchSave]:checked').val(),$("#wolfVictim").val().trim(),$("#witchPoison").val().trim()); }); 
$("#seerCheck").click(function() { gameActions("seerCheck",$("#seerCheckWho").val().trim(),"",""); });


</script>
</html>